---
- hosts: 127.0.0.1
  tasks:
    - name: pull the latest openshift-contrail-code from git
      git:
       repo: https://github.com/Juniper/openshift-ansible.git
       dest: "{{ dst_directory }}"
       version: release-3.9-contrail
      run_once: true
      become: yes

    - name: copy contrail_master into your openshift-ansible-deployer
      command: cp -r {{dst_directory}}/roles/contrail_master {{src_directory}}/roles/.
      become: yes

    - name: copy contrail_nodes folder into your openshift-ansible-deployer
      command: cp -r {{dst_directory}}/roles/contrail_node {{src_directory}}/roles/.
      become: yes

    - name: "Set permissions for replacement master config files"
      file: path="../files/replace.sh" mode=0777
      run_once: true
      become: yes

    - name: "Execute the script for updating master config files"
      script: ../files/replace.sh {{ src_directory }}
      run_once: true
      become: yes

    - name: "Set permissions for replacement node config files"
      file: path="../files/modify.sh" mode=0777
      run_once: true
      become: yes

    - name: "Execute the script for updating node config"
      script: ../files/modify.sh {{ src_directory }}
      run_once: true
      become: yes

    - name: "Set permissions for replacement node config files"
      file: path="../files/append_nodes.sh" mode=0777
      run_once: true
      become: yes

    - name: "Execute the script for updating node config files"
      script: ../files/append_nodes.sh {{ src_directory }}
      run_once: true
      become: yes
